<nav class="navbar navbar-expand navbar-dark bg-dark">
          <a class="navbar-brand" href="/">xMenAcademy</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="/about">About</a>#}
{#              </li>#}
{#              <li class="nav-item">#}
{#                <a class="nav-link" href="/articles">Articles</a>#}
{#              </li>#}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if session.admin_logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin_dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% elif session.teacher_logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/teacher_dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% elif session.student_logged_in %}
                    <li class="nav-item">
                        <a class="nav-link" href="/student_dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                {% else %}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/student_login">Student Login</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/teacher_login">Teacher Login</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link" href="/admin_login">Admin Login</a>#}
{#                    </li>#}
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Sign In</a>
                    </li>
                {% endif %}
            </ul>
          </div>
        </nav>