{% extends 'layout.html' %}

{% block prebody %}
    <style type="text/css">
        .table {
            color: #e8f4ff;
            opacity: .90;
        }

        .user_highlight {
            color: #ece90e;
            font-size: 115%;
        }

        .glow {
            font-size: 28px;
            color: #fff;
            text-align: center;
            -webkit-animation: glow 1s ease-in-out infinite alternate;
            -moz-animation: glow 1s ease-in-out infinite alternate;
            animation: glow 1s ease-in-out infinite alternate;
        }

        .modal-content {
            background-color: rgba(0, 0, 0, .9);
            border: 50px solid rgba(255, 37, 7, .85);

        }

        .modal-backdrop {
            opacity: 0.9 !important;
        }

        @-webkit-keyframes glow {
            from {
                text-shadow: 0 0 4px #a00a31, 0 0 8px #ff1639, 0 0 8px #e6430f, 0 0 8px #ff3709, 0 0 8px #e60073, 0 0 8px #e60073, 0 0 4px #e60073;
            }
            to {
                text-shadow: 0 0 4px rgba(255, 37, 7, 0.98), 0 0 8px #ff2507, 0 0 8px #ff2c1d, 0 0 8px #a9250a, 0 0 8px #ff4da6, 0 0 8px #ff4da6, 0 0 4px #ff4da6;
            }
        }

        th {
            font-size: 16px;
            color: #fff;
            text-align: left;
            -webkit-animation: ths 1s ease-in-out infinite alternate;
            -moz-animation: ths 1s ease-in-out infinite alternate;
            animation: ths 1s ease-in-out infinite alternate;
        }

        @-webkit-keyframes ths {
            from {
                text-shadow: 0 0 2px rgba(10, 113, 145, 0.98), 0 0 2px #4affff, 0 0 2px #aee6e6, 0 0 2px #0a5354, 0 0 2px #e60073, 0 0 2px #e60073, 0 0 1px #e60073;
            }
            to {
                text-shadow: 0 0 2px rgba(21, 19, 22, 0.98), 0 0 2px #15fdff, 0 0 2px #35faff, 0 0 2px #0a5354, 0 0 2px #ff4da6, 0 0 2px #ff4da6, 0 0 1px #ff4da6;
            }
        }
    </style>

    <div class="row">
        <div class="col-2">
            <div class="col-12 animated fadeInLeft glow">
                <a class="btn btn-xl btn-block btn-sf" href="/user_registration"><i
                        class="fas fa-user-plus  float-right"></i>User Registration</a>
            </div>
            <div class="col-12 animated fadeInRight glow">
                <a class="btn btn-xl btn-block btn-sf" href="/create_course"><i
                        class="fas fa-chalkboard float-right"></i>Create
                    Course</a>
            </div>
            <div class="col-12 animated fadeInLeft glow">
                <a class="btn btn-xl btn-block btn-sf" href="/course_registration"><i
                        class="fas fa-chalkboard-teacher float-right"></i>Teacher Course Registration</a>
            </div>
            <div class="col-12  animated fadeInRight glow">
                <a class="btn btn-xl btn-block btn-sf" href="/student_course_registration"><i
                        class="fas fa-chalkboard-teacher float-right"></i>Student Course Registration</a>
            </div>
        </div>


        <div class="col-8" style="border:1px solid rgba(0, 0, 0, .35);background: rgba(0, 0, 0, .35);">
            <h1 class="animated flipInX slow">
                <small>Welcome <span class="user_highlight">{{ session.username }}
        </span></small>
            </h1>

            <div>
                <h2 class="glow" style="background: rgba(0,0,0,.15);margin-bottom: 0">Students</h2>
                <table class="table table-striped table-sm animated pulse faster">
                    <tr style="background: rgba(0,0,0,.85);margin-bottom:0">
                        <th style="width:  5%">ID</th>
                        <th style="width: 20%">First Name</th>
                        <th style="width: 20%">Last Name</th>
                        <th style="width: 15%">Username</th>
                        <th style="width: 20%">Email</th>
                        <th style="width: 10%"></th>
                        <th style="width: 10%"></th>
                    </tr>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.id }}</td>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td class="user_highlight">{{ student.username }}</td>
                            <td>{{ student.email }}</td>
                            <td><a href="edit_user/{{ student.id }}" class="btn btn-block btn-sf">Edit</a></td>

                            <td>
                                <button type="button" class="btn btn-block btn-sf-red" data-toggle="modal"
                                        data-target="#myOutput{{ student.id }}">Delete
                                </button>
                            </td>


                        </tr>
                    {% endfor %}
                </table>
                {% for student in students %}

                    <div class="modal fade" id="myOutput{{ student.id }}" role="dialog">
                        <div class="modal-dialog modal-xl">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">DELETE STUDENT</h4>
                                    <button style="color: #fff" type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>

                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete {{ student.username }}???</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-block btn-sf float-left" data-dismiss="modal">
                                        Cancel Delete
                                    </button>
                                    <form action="{{ url_for('delete_user', user_id=student.id) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="Delete" class="btn btn-block btn-sf-red">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                {% endfor %}

            </div>
            <h2 class="glow" style="background: rgba(0,0,0,.15);margin-bottom: 0">Teachers</h2>
            <table class="table table-striped table-sm animated pulse faster">
                <tr style="background: rgba(0,0,0,.85);margin-bottom:0">
                    <th style="width:  5%">ID</th>
                    <th style="width: 20%">First Name</th>
                    <th style="width: 20%">Last Name</th>
                    <th style="width: 15%">Username</th>
                    <th style="width: 20%">Email</th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                </tr>
                {% for teacher in teachers %}
                    <tr>
                        <td>{{ teacher.id }}</td>
                        <td>{{ teacher.first_name }}</td>
                        <td>{{ teacher.last_name }}</td>
                        <td class="user_highlight">{{ teacher.username }}</td>
                        <td>{{ teacher.email }}</td>
                        <td><a href="edit_user/{{ teacher.id }}" class="btn btn-block btn-sf">Edit</a></td>
                        <td>
                            <button type="button" class="btn btn-block btn-sf-red" data-toggle="modal"
                                        data-target="#myOutput{{ teacher.id }}">Delete
                                </button>
                        </td>
                    </tr>
                {% endfor %}

            </table>
                {% for teacher in teachers %}

                    <div class="modal fade" id="myOutput{{ teacher.id }}" role="dialog">
                        <div class="modal-dialog modal-xl">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">DELETE TEACHER</h4>
                                    <button style="color: #fff" type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>

                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete {{ teacher.username }}???</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-block btn-sf float-left" data-dismiss="modal">
                                        Cancel Delete
                                    </button>
                                    <form action="{{ url_for('delete_user', user_id=teacher.id) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="Delete" class="btn btn-block btn-sf-red">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                {% endfor %}


            </table>

            <h2 class="glow" style="background: rgba(0,0,0,.15);margin-bottom: 0">Administrators</h2>
            <table class="table table-striped table-sm animated pulse faster">
                <tr style="background: rgba(0,0,0,.85);margin-bottom:0">
                    <th style="width:  5%">ID</th>
                    <th style="width: 20%">First Name</th>
                    <th style="width: 20%">Last Name</th>
                    <th style="width: 15%">Username</th>
                    <th style="width: 20%">Email</th>
                    <th style="width: 10%"></th>
                    <th style="width: 10%"></th>
                </tr>
                {% for admin in admins %}
                    <tr>
                        <td>{{ admin.id }}</td>
                        <td>{{ admin.first_name }}</td>
                        <td>{{ admin.last_name }}</td>
                        <td class="user_highlight">{{ admin.username }}</td>
                        <td>{{ admin.email }}</td>
                        <td><a href="edit_user/{{ admin.id }}" class="btn btn-block btn-sf">Edit</a></td>
                        <td>
                             <button type="button" class="btn btn-block btn-sf-red" data-toggle="modal"
                                        data-target="#myOutput{{ admin.id }}">Delete
                                </button>
                        </td>
                    </tr>
                {% endfor %}

            </table>
                {% for admin in admins %}

                    <div class="modal fade" id="myOutput{{ admin.id }}" role="dialog">
                        <div class="modal-dialog modal-xl">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">DELETE ADMINISTRATOR</h4>
                                    <button style="color: #fff" type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>

                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete {{ admin.username }}???</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-block btn-sf float-left" data-dismiss="modal">
                                        Cancel Delete
                                    </button>
                                    <form action="{{ url_for('delete_user', user_id=admin.id) }}" method="post">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="submit" value="Delete" class="btn btn-block btn-sf-red">
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>

                {% endfor %}

            </table>

            <h2 class="glow" style="background: rgba(0,0,0,.15);margin-bottom: 0">Course Catalog</h2>
            <table class="table table-striped table-sm animated pulse faster">
                <tr style="background: rgba(0,0,0,.85);margin-bottom:0">
                    <th style="width:  5%">ID</th>
                    <th style="width:  15%">Course Name</th>
                    <th style="width:  60%">Course Description</th>
                    <th style="width:  10%"></th>
                    <th style="width:  10%"></th>
                </tr>
                {% for course in course_details %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.course_description }}</td>
                        <td><a href="edit_course/{{ course.id }}" class="btn btn-block btn-sf">Edit</a></td>
                        <td>
                            <form action="{{ url_for('delete_course', course_id=course.id) }}" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="submit" value="Delete" class="btn btn-block btn-sf-red">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <hr>
            <h2 class="glow" style="background: rgba(0,0,0,.15);margin-bottom: 0">Available Courses</h2>
            <table class="table table-striped table-sm animated pulse faster">
                <tr style="background: rgba(0,0,0,.85);margin-bottom:0">
                    <th style="width:  5%">ID</th>
                    <th style="width:  15%">Course Catalog Name</th>
                    <th style="width:  20%">Teacher</th>
                    <th style="width:  25%">Semester</th>
                    <th style="width:  10%"></th>
                    <th style="width:  10%"></th>
                </tr>
                {% for course in courses %}
                    <tr>
                        <td>{{ course.id }}</td>
                        <td>{{ course.course_name }}</td>
                        <td>{{ course.first_name }} {{ course.last_name }}</td>
                        <td>{{ course.semester_name }}</td>
                        {#                <td ><a href="edit_course/{{ course.id }}" class="btn btn-light float-right">Edit</a></td>#}
                        {#                <td>#}
                        {#                    <form action="{{ url_for('delete_course', course_id=course.id) }}" method="post">#}
                        {#                        <input type="hidden" name="_method" value="DELETE">#}
                        {#                        <input type="submit" value="Delete" class="btn btn-danger">#}
                        {#                    </form>#}
                        {#                </td>#}
                    </tr>
                {% endfor %}
            </table>

        </div>


    </div>


{% endblock %}

{% block body %}

{% endblock %}
