{% extends 'layout.html' %}

{% block body %}
    <h1>Dashboard <small>Welcome {{ session.username }}</small></h1>
    <a class="btn btn-info" href="/create_course">Create Course</a>
    <a class="btn btn-info" href="/course_registration">Course Registration</a>
    <a class="btn btn-info" href="/user_registration">User Registration</a>

    <hr>

    <h2>Students</h2>
    <table class="table table-striped">
        <tr class="table-info">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        {% for student in students %}
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.first_name }}</td>
                <td>{{ student.last_name }}</td>
                <td>{{ student.username }}</td>
                <td>{{ student.email }}</td>
                <td><a href=edit_user/{{ student.id }}" class="btn btn-light float-right">Edit</a></td>
{#                <td>#}
{#                    <form action="{{ url_for('delete_article', id=article.id) }}" method="post">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <input type="submit" value="Delete" class="btn btn-danger">#}
{#                    </form>#}
{#                </td>#}
            </tr>
        {% endfor %}
    </table>

    <hr>

    <h2>Teachers</h2>
    <table class="table table-striped">
        <tr class="table-info">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        {% for teacher in teachers %}
            <tr>
                <td>{{ teacher.id }}</td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.username }}</td>
                <td>{{ teacher.email }}</td>
                <td><a href=edit_user/{{ teacher.id }}" class="btn btn-light float-right">Edit</a></td>
{#                <td>#}
{#                    <form action="{{ url_for('delete_article', id=article.id) }}" method="post">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <input type="submit" value="Delete" class="btn btn-danger">#}
{#                    </form>#}
{#                </td>#}
            </tr>
        {% endfor %}
    </table>

    <hr>

    <h2>Administrators</h2>
    <table class="table table-striped">
        <tr class="table-info">
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th></th>
            <th></th>
        </tr>
        {% for admin in admins %}
            <tr>
                <td>{{ admin.id }}</td>
                <td>{{ admin.first_name }}</td>
                <td>{{ admin.last_name }}</td>
                <td>{{ admin.username }}</td>
                <td>{{ admin.email }}</td>
                <td><a href=edit_user/{{ admin.id }}" class="btn btn-light float-right">Edit</a></td>
{#                <td>#}
{#                    <form action="{{ url_for('delete_article', id=article.id) }}" method="post">#}
{#                        <input type="hidden" name="_method" value="DELETE">#}
{#                        <input type="submit" value="Delete" class="btn btn-danger">#}
{#                    </form>#}
{#                </td>#}
            </tr>
        {% endfor %}
    </table>


{% endblock %}