{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Welcome to MyFlaskApp!</h1>
        <p class="lead">A simple project built with the Python Flask framework, following
            along the "Python Flask From Scratch" youtube series.</p>
        {% if session.logged_in == NULL %}
            <a href="/register" class="btn btn-primary">Register</a>
            <a href="/login" class="btn btn-success">Log In</a>
        {% endif %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.js"></script>
    <script>
    var rock;

function rock(x, y) {
    this.position = createVector(x, y);
    this.velocity = createVector(0,0);
    this.acc = createVector(0,0);
    this.rotationAngle = 0;
    this.drawThrust = false;

    this.show = function() {
        push();
        translate(this.position.x, this.position.y);
        rotate(map(this.rotationAngle, 0,360, 0, TWO_PI));
        fill(100,0,100);
        stroke(color(0, 100, 200));
        strokeWeight(4);
        ellipse(0, 0, 32, 32);
        line(0-16, 0,
             0, 0 + 6);
        line(0, 0 + 6,
             0+16, 0);
        line(0 + 13, 0 + 13,
             0 + 23, 0 + 23);
        line(0 - 13, 0 + 13,
             0 - 23, 0 + 23);
        line(0, 0 + 6,
             0+16, 0);
        line(0 + 13, 0 + 13,
             0 + 23, 0 + 23);
        line(0 - 13, 0 + 13,
             0 - 23, 0 + 23);
        if(this.drawThrust) {
            stroke(color(255, 50, 100));
            line (3, 19, 0, 26);
            line (-3, 19, 0, 26);
            line(0, 20, 0, 26);
        }
        pop();
    }


    this.update = function() {
        this.velocity.add(this.acc);
        this.position.add(this.velocity);
        this.acc.mult(0);

        this.position.x = constrain(this.position.x, -16, width + 16);
        this.position.y = constrain(this.position.y, 0, height);
    }


    this.fly = function() {
        var power = .55;
        var rotationPower = 3;

        if(keyIsDown(UP_ARROW)) {
            this.drawThrust = true;
            this.acc.y -= power*cos(map(this.rotationAngle, 0,360, 0, TWO_PI));
            this.acc.x += power*sin(map(this.rotationAngle, 0,360, 0, TWO_PI));
        }
        if(!keyIsDown(UP_ARROW)) {
            this.drawThrust = false;
        }
        if(keyIsDown(DOWN_ARROW)) {
            //this.ySpeed += power;
        }
        if(keyIsDown(RIGHT_ARROW)) {
            this.rotationAngle += rotationPower;
            //this.xSpeed += power;
        }
        if(keyIsDown(LEFT_ARROW)) {
            this.rotationAngle -= rotationPower;
            //this.xSpeed -= power;
        }
    }

    this.gravity = function() {
        this.acc.y += .1;
    }

    this.bounceY = function() {
        this.velocity.y = -this.velocity.y*.75;
        this.position.y -= 3;
    }
    this.bounceX = function() {
        this.velocity.x = -this.velocity.x*.75;
        this.rotationAngle *= -.75;
    }
}
var canvas;
function setup() {
    canvas = createCanvas(windowWidth,windowHeight/2);
    rock = new rock(width/2,height/2);
}

function windowResized() {
  resizeCanvas(windowWidth-20, (windowHeight)/1.5);
  canvas.position(windowWidth/4, windowHeight/4);
}

function draw() {
    frameRate(25);
    background(51);
    rock.show();
    rock.gravity();
    rock.fly();
    rock.update();
    stroke(color(0, 100, 200));
    strokeWeight(16);
    line (0, height-75, width, height-75);
    if(rock.position.y + 26 > height-75)
        rock.bounceY();
    if(rock.position.x < 0)
       rock.position.x = width;
    if(rock.position.x > width)
        rock.position.x = 0;
    /*

    if(rock.position.y + 26 > 325)
        rock.bounceY();
    if(rock.position.x < 32 || rock.position.x > width - 32)
       rock.bounceX();
       */
}
    </script>


{% endblock %}